.header {
  background-color: aqua;

} 

.search {
  text-align: center;
  padding: 8px;
  height: 50px;
  background-color: aqua;
}

.video {
  width: 100%;
  background-color: green;
}

.content {
  margin-top: 50px;
}